In [1]:
import pandas as pd
import yfinance as yf

In [2]:
df = yf.download('^GSPC',start='2015-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,2058.899902,2072.360107,2046.040039,2058.199951,2058.199951,2708700000
2015-01-05,2054.439941,2054.439941,2017.339966,2020.579956,2020.579956,3799120000
2015-01-06,2022.150024,2030.250000,1992.439941,2002.609985,2002.609985,4460110000
2015-01-07,2005.550049,2029.609985,2005.550049,2025.900024,2025.900024,3805480000
2015-01-08,2030.609985,2064.080078,2030.609985,2062.139893,2062.139893,3934010000
...,...,...,...,...,...,...
2023-06-12,4308.319824,4340.129883,4304.370117,4338.930176,4338.930176,3945670000
2023-06-13,4352.609863,4375.370117,4349.310059,4369.009766,4369.009766,4275400000
2023-06-14,4366.290039,4391.819824,4337.850098,4372.589844,4372.589844,4252110000
2023-06-15,4365.330078,4439.200195,4362.600098,4425.839844,4425.839844,4176690000
2023-06-16,4440.950195,4448.470215,4407.439941,4409.589844,4409.589844,6848600000

In [4]:
df['MA100'] = df.Close.rolling(100).mean()

In [5]:
df.dropna(inplace=True)

In [6]:
df['price'] = df.Open.shift(-1)

In [7]:
(df.Close > df.MA100)

Date
2015-05-27    True
2015-05-28    True
2015-05-29    True
2015-06-01    True
2015-06-02    True
              ...
2023-06-12    True
2023-06-13    True
2023-06-14    True
2023-06-15    True
2023-06-16    True
Length: 2030, dtype: bool

In [8]:
(df.Close > df.MA100).idxmax()

Timestamp('2015-05-27 00:00:00')

In [9]:
df.index == (df.Close > df.MA100).idxmax()

array([ True, False, False, ..., False, False, False])

In [10]:
pd.Series(df.index == (df.Close > df.MA100).idxmax(),index=df.index)

Date
2015-05-27     True
2015-05-28    False
2015-05-29    False
2015-06-01    False
2015-06-02    False
              ...
2023-06-12    False
2023-06-13    False
2023-06-14    False
2023-06-15    False
2023-06-16    False
Length: 2030, dtype: bool

In [11]:
first_buy = pd.Series(df.index == (df.Close > df.MA100).idxmax(),index=df.index)

In [12]:
first_buy

Date
2015-05-27     True
2015-05-28    False
2015-05-29    False
2015-06-01    False
2015-06-02    False
              ...
2023-06-12    False
2023-06-13    False
2023-06-14    False
2023-06-15    False
2023-06-16    False
Length: 2030, dtype: bool

In [13]:
(df.Close > df.MA100)

Date
2015-05-27    True
2015-05-28    True
2015-05-29    True
2015-06-01    True
2015-06-02    True
              ...
2023-06-12    True
2023-06-13    True
2023-06-14    True
2023-06-15    True
2023-06-16    True
Length: 2030, dtype: bool

In [14]:
(df.Close > df.MA100).diff()

Date
2015-05-27      NaN
2015-05-28    False
2015-05-29    False
2015-06-01    False
2015-06-02    False
              ...
2023-06-12    False
2023-06-13    False
2023-06-14    False
2023-06-15    False
2023-06-16    False
Length: 2030, dtype: object

In [15]:
first_buy | (df.Close > df.MA100).diff()

Date
2015-05-27     True
2015-05-28    False
2015-05-29    False
2015-06-01    False
2015-06-02    False
              ...
2023-06-12    False
2023-06-13    False
2023-06-14    False
2023-06-15    False
2023-06-16    False
Length: 2030, dtype: bool

In [16]:
df[first_buy | (df.Close > df.MA100).diff()]

,Open,High,Low,Close,Adj Close,Volume,MA100,price
Date,,,,,,,,
2015-05-27,2105.129883,2126.219971,2105.129883,2123.479980,2123.479980,3127960000,2078.878900,2122.270020
2015-06-08,2092.340088,2093.010010,2079.110107,2079.280029,2079.280029,2917150000,2084.538904,2079.070068
2015-06-10,2081.120117,2108.500000,2081.120117,2105.199951,2105.199951,3414320000,2086.353002,2106.239990
2015-06-15,2091.340088,2091.340088,2072.489990,2084.429932,2084.429932,3061570000,2088.486102,2084.260010
2015-06-16,2084.260010,2097.399902,2082.100098,2096.290039,2096.290039,2919900000,2088.817504,2097.399902
...,...,...,...,...,...,...,...,...
2023-03-16,3878.929932,3964.459961,3864.110107,3960.280029,3960.280029,5695790000,3953.868914,3958.689941
2023-03-17,3958.689941,3958.909912,3901.270020,3916.639893,3916.639893,9354280000,3955.507812,3917.469971
2023-03-21,3975.889893,4009.080078,3971.189941,4002.870117,4002.870117,4920240000,3958.487712,4002.040039
2023-03-22,4002.040039,4039.489990,3936.169922,3936.969971,3936.969971,4533010000,3959.551411,3959.209961
2023-03-24,3939.209961,3972.739990,3909.159912,3970.989990,3970.989990,4583970000,3961.664910,3982.929932

In [17]:
trades = df[first_buy | (df.Close > df.MA100).diff()].price

In [18]:
trades

Date
2015-05-27    2122.270020
2015-06-08    2079.070068
2015-06-10    2106.239990
2015-06-15    2084.260010
2015-06-16    2097.399902
                 ...
2023-03-16    3958.689941
2023-03-17    3917.469971
2023-03-21    4002.040039
2023-03-22    3959.209961
2023-03-24    3982.929932
Name: price, Length: 103, dtype: float64

In [19]:
len(trades)

103

In [20]:
df.Close.iloc[-1:]

Date
2023-06-16    4409.589844
Name: Close, dtype: float64

In [21]:
if len(trades) % 2 != 0:
    mtm = df.Close[-1:]
    trades = pd.concat([trades,mtm])

In [22]:
trades

Date
2015-05-27    2122.270020
2015-06-08    2079.070068
2015-06-10    2106.239990
2015-06-15    2084.260010
2015-06-16    2097.399902
                 ...
2023-03-17    3917.469971
2023-03-21    4002.040039
2023-03-22    3959.209961
2023-03-24    3982.929932
2023-06-16    4409.589844
Length: 104, dtype: float64

In [23]:
buys = trades[::2]

In [24]:
sells = trades[1::2]

In [25]:
profits = (sells.values - buys.values)/buys.values

In [26]:
profits

array([-2.03555395e-02, -1.04356486e-02, -1.72642141e-02, -1.02537622e-02,
       -5.46331824e-03, -8.63496017e-03, -1.02535909e-02, -2.99718308e-03,
       -1.75445349e-02, -1.96233710e-02, -1.77033865e-02, -1.39163268e-02,
       -7.34931645e-03, -6.23986662e-03,  4.64975024e-02, -1.43760268e-03,
       -5.93100505e-03,  2.00365419e-01,  1.66249628e-04, -6.47576967e-03,
       -7.44482311e-03, -8.37944165e-04, -1.56765700e-02,  1.82390412e-02,
        2.14782071e-02,  1.52904423e-02, -1.69902300e-02, -1.65678879e-02,
        1.03803320e-03, -2.19178801e-02, -4.22873172e-03, -2.54070838e-02,
       -1.12524779e-02,  5.96779117e-02,  8.67209484e-02,  7.92406830e-04,
        2.67345046e-01, -8.96094774e-03, -5.86719870e-03,  2.24071726e-02,
       -1.16020636e-02, -1.03157779e-02, -1.35872134e-02, -1.18295174e-02,
       -1.98666517e-03, -2.89468974e-02, -3.50028147e-02, -1.83691227e-02,
        4.98604164e-04, -1.04125282e-02, -1.07020614e-02,  1.07122124e-01])

In [27]:
(profits + 1).prod() - 1

0.3678293730638078